.go-back-btn {
  display: inline-block;
  padding: 16px;
  font-size: 20px;
  font-weight: 700;
  color: #727272;
}

.go-back-btn:hover,
.go-back-btn:focus {
  color: rgb(255, 123, 0);
}

.movie-details-container {
  display: flex;
  gap: 16px;
  border-bottom: 3px solid #252525;
  box-shadow: 0px 0px 15px #252525;
  padding: 16px;
  font-size: 20px;
}

.movie-details-container img {
  width: calc(100% * 0.33);
  object-fit: cover;
}

.movie-details-data {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.movie-details-data span {
  font-weight: 700;
}

.movie-add-info {
  margin-top: 16px;
  border-bottom: 3px solid #252525;
  margin-bottom: 24px;
}

.movie-add-info ul {
  display: flex;
  gap: 16px;
}

.movie-add-info a {
  display: block;
  color: #f1f1f1;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
}

.movie-add-info a.active,
.movie-add-info a:hover,
.movie-add-info a:focus {
  color: rgb(255, 123, 0);
}
