#root main {
  margin: 0 16px;
}

.main-menu {
  border-bottom: 3px solid #252525;
  box-shadow: 0px 0px 25px #252525;
}

.main-menu a {
  display: inline-block;
  margin-left: 24px;
  font-size: 18px;
  font-weight: 600;
  color: #727272;
  padding: 16px 0;
  position: relative;
}

.main-menu a:hover,
.main-menu a:focus,
.main-menu a.active {
  color: rgb(255, 123, 0);
  text-shadow: 0 5px 20px rgb(255, 123, 0);
}
